<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

<!-- 	<timestamp key="bySecond" datePattern="yyyy-MM-dd'_'HH-mm-ss" />

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/h2h-log ${bySecond}.txt</file>
		<encoder>
			<pattern>%d{HH:mm:ss} %-12.-12([%thread])[%-5level] %logger{0}-%msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root> -->
	
	<!-- Appenders -->
	<appender name="STDOUT_H2H_RCP" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %-12.-12([%thread])[%-5level] %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Loggers -->
	<logger name="net.tomp2p" level="OFF" /> <!-- mute tomp2p library -->
	<logger name="io.netty" level="OFF" /> <!-- mute netty library -->
	<logger name="org.hive2hive" level="DEBUG" /> <!-- debug hive2hive library -->
	
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT_H2H_RCP" />
	</root>
</configuration>